<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Simple Multi Level Marketing</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/stylesheets/tree-maker.css">
    <script type="text/javascript" src="/javascripts/tree-maker.js"></script>

  </head>
  <body>
    <div class="container">
      <h1 class="my-3"><a href="./">Admin Panel - Simple Multi Level Marketing</a></h1>
      <div class="row">
        <% if (success) { %>
        <div class="col-12 alert alert-success" role="alert">
          <%= success %>
        </div>
        <% } %>
        <% if (error) { %>
        <div class="col-12 alert alert-danger" role="alert">
          <%= error %>
        </div>
        <% } %>
        <div class="col-4">
          <div class="card">
            <div class="card-header fw-bold">
              Create New Member
            </div>
            <div class="card-body">
              <form action="/create" method="POST">
                <div class="mb-3">
                  <label for="name" class="form-label">Member name</label>
                  <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="mb-3">
                  <label for="parentId" class="form-label">Choose Parent Member</label>
                  <select class="form-select" aria-label="Default select example" name="parentId" required>
                    <option value="0" selected>Doesnt Have Parent</option>
                    <% if(memberList.length > 0) {
                      memberList.forEach(member => { %>
                        <option value="<%= member.id %>">ID <%= member.id %> - <%= member.name %></option>
                      <%})
                    }%>
                  </select>
                </div>
                <button type="submit" class="btn btn-primary w-100">Create New Member</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-header fw-bold">
              Change Member Parent
            </div>
            <div class="card-body">
              <form action="/change" method="post">
                <div class="mb-3">
                  <label for="memberId" class="form-label">Choose Member</label>
                  <select class="form-select" aria-label="Default select example" name="memberId" required>
                    <% if(memberList.length > 0) {
                      memberList.forEach(member => { %>
                        <option value="<%= member.id %>">ID <%= member.id %> - <%= member.name %></option>
                      <%})
                    }%>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="parentId" class="form-label">Choose New Parent Member</label>
                  <select class="form-select" aria-label="Default select example" name="parentId" required>
                    <option value="0">Doesnt Have Parent</option>
                    <% if(memberList.length > 0) {
                      memberList.forEach(member => { %>
                        <option value="<%= member.id %>">ID <%= member.id %> - <%= member.name %></option>
                      <%})
                    }%>
                  </select>
                </div>
                <button type="submit" class="btn btn-primary w-100">Change Member Parent</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-header fw-bold">
              Calculate Member Bonus
            </div>
            <div class="card-body">
              <form action="/" method="get">
                <div class="mb-3">
                  <label for="calculateMemberBonus" class="form-label">Choose Member</label>
                  <select class="form-select" aria-label="Default select example" name="calculateMemberBonus" required>
                    <% if(memberList.length > 0) {
                      memberList.forEach(member => { %>
                        <option value="<%= member.id %>">ID <%= member.id %> - <%= member.name %></option>
                      <%})
                    }%>
                  </select>
                </div>
                <button type="submit" class="btn btn-primary w-100">Calculate Member Bonus</button>
                <% if (calculateMemberBonus > 0) { %>
                <div class="mt-3">
                  <span class="fw-bold"> Member ID : <%= calculateMemberBonus %></span>
                  <span class="form-control text-center" ><b>Level 1</b>($<%= bonusLevel1 %>) + <b>Level 2</b>($<%= bonusLevel2 %>) = <b>Total Bonus</b> ($<%= bonusTotal %>) </span>
                </div>
                <% } %>
                </form>
            </div>
          </div>
        </div>
        <div class="col-12 my-3">
          <hr>
          <h3 class="fw-bold text-uppercase text-center">Current Member Tree</h3>
          <form action="./" method="get">
            <div class="row">
              <div class="offset-3 col-4">
                <label class="form-label text-sm">Choose Root Member</label>
                <select class="form-select" aria-label="Default select example" name="rootMember" required>
                  <option value="0">ADMIN / ALL MEMBER</option>
                  <% if(memberList.length > 0) {
                    memberList.forEach(member => { %>
                      <option value="<%= member.id %>">ID <%= member.id %> - <%= member.name %></option>
                    <%})
                  }%>
                </select>
              </div>
              <div class="col-2">
                <label class="form-label">&nbsp;</label>
                <input type="submit" class="form-control btn btn-primary" value="VIEW MEMBER TREE"/>
              </div>
            </div>
          </form>
          <div id="memberTree"></div>
          <script type="text/javascript">
              const tree = <%- memberTreeStructure %>;
              const params = <%- memberTreeValue %>;

              treeMaker.default(tree, {
                  id: 'memberTree',
                  card_click: function (element) {
                      console.log(element);
                  },
                  treeParams: params,
                  'link_width': '4px',
                  'link_color': '#2199e8',
              });
          </script>
        </div>
        
      </div>
    </div>
  </body>

</html>
