.tree__container, #from_tree__container__step__card__first, .tree__container__branch {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tree__container__step__card {
    text-align: center;
    margin: 20px;
}

.tree__container__step__card p {
    padding: 10px;
    box-shadow: 0 0 4px 1px rgba(121, 121, 121, 0.3);
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    margin: 0 !important;
}

#tree__svg-container {
    z-index: -1;
    position: absolute;
}

.tree__container__step {
    flex: 1 1 0px;
    width: auto;
    padding: 0;
}

.tree__container__step__card__p {
    cursor: pointer;
    transition: transform .2s ease;
}

